<a href="https://colab.research.google.com/github/geracedillo/AD2003B/blob/main/labPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Agustín Gómez Pérez - A01732897
Gerardo Cedillo Corona - A01704232

#PRACTICA
### AD2004B.403.M2.EF2023
### Laboratorio de PANDAS



> En este Lab practicaras el uso de **Pandas** para realizar análisis de datos. Partiremos de la carga de datos desde un archivo de Excel para despues manipular visualizar esto datos con Python. 
EL archivo de Excel debe de estar en Github.



##### Nombre del archivo: "labPandas"
#### Utilizaremos el archivo "Superstore.xls"

## PANDAS
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html


**Importar** un archivo de datos con **pandas**
>Como primer paso se debe importar la libreria de Pandas, lo cual nos da acceso a las funciones necesarias para manipulación de los datos.

In [9]:
# Importamos la Libreria pandas con el alias "pd"
import pandas as pd

## Importar archivo de Excel
> Es importante que tengan correcta la ruta donde esta el archivo, en este caso el archivo debe estar en el repositorio correspondiente a la clase de GitHub.

In [10]:
#Importar archivo en un dataframe
df= pd.read_excel('Superstore.xls')

# Conoce los Datos.
Identificar y documentar de manera general que contiene el archivo de datos.
Una buena idea es crear un glosario de términos donde se describa cada uno de los datos manejados.

In [ ]:
#Ejecuta las intrucciones necesarias para conocer los datos. 
# METADATOS:Tipos de datos, tamaño del dataframe, nombres de columnas, etc.
# DATOS: Observa los datos de manera inicial, oberva los primeros n y los ultimos n, donde pruebes con varios valores de n
# Cada instrucción colocala en un renglón para que agregues la documentación necesaria de los que estas observando.

METADATOS

In [11]:
df.dtypes
#Los datos mayormente son "object" seran un a mezcla de "strings" y "floats", los "float64" son datos que permiten tener mas precisión decimal a costo de pesar mas"

Order ID          object
Customer ID       object
Customer Name     object
Segment           object
City              object
Postal Code      float64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [12]:
df.shape
#Hay 9994 inputs y 15 variables

(9994, 15)

In [13]:
df.columns
#La base de datos parece ser de una tienda al tener variables sobre las compras de los clientes

Index(['Order ID', 'Customer ID', 'Customer Name', 'Segment', 'City',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [14]:
df.info()
#No hay datos nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer ID    9994 non-null   object
 2   Customer Name  9994 non-null   object
 3   Segment        9994 non-null   object
 4   City           9994 non-null   object
 5   Postal Code    9983 non-null   float64
 6   Region         9994 non-null   object
 7   Product ID     9994 non-null   object
 8   Category       9994 non-null   object
 9   Sub-Category   9994 non-null   object
 10  Product Name   9994 non-null   object
 11  Sales          9994 non-null   float64
 12  Quantity       9994 non-null   int64
 13  Discount       9994 non-null   float64
 14  Profit         9994 non-null   float64
dtypes: float64(4), int64(1), object(10)
memory usage: 1.1+ MB

DATOS

In [15]:
df.head(5)

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2018-140326,HW-14935,Helen Wasserman,Corporate,Chicago,60653.0,Central,FUR-BO-10000112,Furniture,Bookcases,"Bush Birmingham Collection Bookcase, Dark Cherry",825.174,9,0.30,-117.8820
1,CA-2016-130785,AG-10900,Arthur Gainer,Consumer,San Diego,92105.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
2,CA-2015-105249,DH-13675,Duane Huffman,Home Office,San Francisco,94122.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
3,CA-2018-125472,BD-11725,Bruce Degenhardt,Consumer,Lafayette,70506.0,South,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",241.960,2,0.00,33.8744
4,CA-2016-118423,DP-13390,Dennis Pardue,Home Office,Peoria,61604.0,Central,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,359.058,3,0.30,-35.9058

In [16]:
df.tail(15)

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9979,CA-2015-100867,EH-14125,Eugene Hildebrand,Home Office,Lakewood,90712.0,West,TEC-PH-10004922,Technology,Phones,RCA Visys Integrated PBX 8-Line Router,321.552,6,0.2,20.0970
9980,CA-2017-151141,DW-13480,Dianna Wilson,Home Office,Detroit,48205.0,Central,TEC-PH-10004924,Technology,Phones,"SKILCRAFT Telephone Shoulder Rest, 2"" x 6.5"" x...",14.780,2,0.0,3.9906
9981,CA-2016-155068,RA-19285,Ralph Arnett,Consumer,Lakeland,33801.0,South,TEC-PH-10004924,Technology,Phones,"SKILCRAFT Telephone Shoulder Rest, 2"" x 6.5"" x...",11.824,2,0.2,1.0346
9982,CA-2017-139381,RF-19840,Roy Französisch,Consumer,Chesapeake,23320.0,South,TEC-PH-10004924,Technology,Phones,"SKILCRAFT Telephone Shoulder Rest, 2"" x 6.5"" x...",29.560,4,0.0,7.9812
9983,CA-2016-121608,JB-15400,Jennifer Braxton,Corporate,Bristol,6010.0,East,TEC-PH-10004959,Technology,Phones,Classic Ivory Antique Telephone ZL1810,100.490,1,0.0,25.1225
9984,CA-2015-165309,KD-16270,Karen Daniels,Consumer,Houston,77095.0,Central,TEC-PH-10004959,Technology,Phones,Classic Ivory Antique Telephone ZL1810,241.176,3,0.2,15.0735
9985,CA-2017-117590,GH-14485,Gene Hale,Corporate,Richardson,75080.0,Central,TEC-PH-10004977,Technology,Phones,GE 30524EE4,1097.544,7,0.2,123.4737
9986,CA-2018-145233,DV-13465,Dianna Vittorini,Consumer,Denver,80219.0,West,TEC-PH-10004977,Technology,Phones,GE 30524EE4,470.376,3,0.2,52.9173
9987,CA-2015-136399,CC-12100,Chad Cunningham,Home Office,Los Angeles,90049.0,West,TEC-PH-10004977,Technology,Phones,GE 30524EE4,627.168,4,0.2,70.5564
9988,CA-2018-122196,CA-12265,Christina Anderson,Consumer,Wilmington,19805.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.0,113.6742
9989,CA-2018-144498,MB-18085,Mick Brown,Consumer,Charlotte,28205.0,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,627.168,4,0.2,70.5564
9990,CA-2015-167199,ME-17320,Maria Etezadi,Home Office,Henderson,42420.0,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.0,113.6742
9991,CA-2018-121048,TC-21295,Toby Carlisle,Consumer,Westminster,92683.0,West,TEC-PH-10004977,Technology,Phones,GE 30524EE4,470.376,3,0.2,52.9173
9992,CA-2018-167395,KM-16720,Kunst Miller,Consumer,Lowell,1852.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,979.950,5,0.0,284.1855
9993,CA-2016-128608,CS-12490,Cindy Schnelling,Corporate,Toledo,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.188,2,0.4,-43.1178

In [17]:
df.count()
#Postal code posee datos faltantes o NA

Order ID         9994
Customer ID      9994
Customer Name    9994
Segment          9994
City             9994
Postal Code      9983
Region           9994
Product ID       9994
Category         9994
Sub-Category     9994
Product Name     9994
Sales            9994
Quantity         9994
Discount         9994
Profit           9994
dtype: int64

In [18]:
df.nunique()
#Existen valores repetidos pero en el contexto actual es aceptable

Order ID         5009
Customer ID       793
Customer Name     793
Segment             3
City              531
Postal Code       630
Region              4
Product ID       1862
Category            3
Sub-Category       17
Product Name     1850
Sales            6144
Quantity           14
Discount           12
Profit           7545
dtype: int64

In [19]:
df.describe()
#Hay una media de ventas de $623.24 u, media de unidades de 3.78 u, y una media de ganancia de $28.65

        Postal Code         Sales     Quantity     Discount       Profit
count   9983.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55245.233297    229.858001     3.789574     0.156203    28.656896
std    32038.715955    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    57103.000000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

# **FILTROS**

### Mostrar columas especificas de un dataframe.
Crea un dataframe "dfCLientes" donde almacenes el ID del CLiente y su nombre.
Muestra el dataframe.

dataframe[["col1", "col2"]]

In [20]:
dfCLientes =  df[['Customer ID', 'Customer Name']]
dfCLientes
#El data frame tiene registrados 9994 compras

     Customer ID     Customer Name
0       HW-14935   Helen Wasserman
1       AG-10900     Arthur Gainer
2       DH-13675     Duane Huffman
3       BD-11725  Bruce Degenhardt
4       DP-13390     Dennis Pardue
...          ...               ...
9989    MB-18085        Mick Brown
9990    ME-17320     Maria Etezadi
9991    TC-21295     Toby Carlisle
9992    KM-16720      Kunst Miller
9993    CS-12490  Cindy Schnelling

[9994 rows x 2 columns]

**CLIENTES**.
¿Cuantos clientes se tienen?
Crea un dataframe con los IDs y nombre de clientes sin que estos se repitan.
Muestra la información.

In [21]:
dfCLfilt = dfCLientes.drop_duplicates('Customer Name')
dfCLfilt
#Hay 793 clientes

     Customer ID     Customer Name
0       HW-14935   Helen Wasserman
1       AG-10900     Arthur Gainer
2       DH-13675     Duane Huffman
3       BD-11725  Bruce Degenhardt
4       DP-13390     Dennis Pardue
...          ...               ...
4558    MW-18235  Mitch Willingham
5061    PB-19210    Phillip Breyer
6029    BD-11560    Brendan Dodson
6744    CH-12070       Cathy Hwang
9921    JR-15700    Jocasta Rupert

[793 rows x 2 columns]

**Analiza los datos unicos.**

Obten la lista de ciudades,segmentos, regiones y categorias. De cada uno conoce la cantidad y visualiza las listas.
Crea un dataframe nuevo por cada consulta, el unique genera un arreglo numpy, conviertelo a dataframe, vizualizalo.

In [22]:
import numpy as np

# **Filtros con**  iloc - loc
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

Con la instrucción iloc y el dataframe dfDatos

*   Muestra los primeros 10 registros.
*   Muestra los registros del 20 al 25.
*   Muestra 10 registros con indices seleccionados aleatoreamente
*   Muestra los registros del 100 al 120, pero solo las columnas 4, 5 y 6

In [23]:
# iloc

df.iloc[:10]

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2018-140326,HW-14935,Helen Wasserman,Corporate,Chicago,60653.0,Central,FUR-BO-10000112,Furniture,Bookcases,"Bush Birmingham Collection Bookcase, Dark Cherry",825.174,9,0.30,-117.8820
1,CA-2016-130785,AG-10900,Arthur Gainer,Consumer,San Diego,92105.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
2,CA-2015-105249,DH-13675,Duane Huffman,Home Office,San Francisco,94122.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
3,CA-2018-125472,BD-11725,Bruce Degenhardt,Consumer,Lafayette,70506.0,South,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",241.960,2,0.00,33.8744
4,CA-2016-118423,DP-13390,Dennis Pardue,Home Office,Peoria,61604.0,Central,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,359.058,3,0.30,-35.9058
5,CA-2015-156349,ML-17395,Marina Lichtenstein,Corporate,Los Angeles,90008.0,West,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,290.666,2,0.15,27.3568
6,CA-2017-165848,EN-13780,Edward Nazzal,Consumer,New York City,10035.0,East,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,136.784,1,0.20,5.1294
7,US-2015-123183,GR-14560,Georgia Rosenberg,Corporate,Wilmington,19805.0,East,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,1025.880,6,0.00,235.9524
8,CA-2015-133592,KM-16375,Katherine Murray,Home Office,Providence,2908.0,East,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,341.960,2,0.00,78.6508
9,CA-2018-161200,SV-20365,Seth Vernon,Consumer,Lafayette,70506.0,South,FUR-BO-10000468,Furniture,Bookcases,O'Sullivan 2-Shelf Heavy-Duty Bookcases,145.740,3,0.00,23.3184

In [24]:
df.iloc[20:26]

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
20,US-2016-164238,JW-15955,Joni Wasserman,Consumer,Philadelphia,19120.0,East,FUR-BO-10000780,Furniture,Bookcases,O'Sullivan Plantations 2-Door Library in Landv...,301.4700,3,0.50,-204.9996
21,CA-2018-137449,ME-17725,Max Engle,Consumer,Dallas,75220.0,Central,FUR-BO-10000780,Furniture,Bookcases,O'Sullivan Plantations 2-Door Library in Landv...,409.9992,3,0.32,-96.4704
22,CA-2018-140963,MT-18070,Michelle Tran,Home Office,Los Angeles,90045.0,West,FUR-BO-10001337,Furniture,Bookcases,O'Sullivan Living Dimensions 2-Shelf Bookcases,514.1650,5,0.15,-30.2450
23,CA-2018-108070,JE-15745,Joel Eaton,Consumer,San Jose,95123.0,West,FUR-BO-10001337,Furniture,Bookcases,O'Sullivan Living Dimensions 2-Shelf Bookcases,102.8330,1,0.15,-6.0490
24,CA-2015-154599,KN-16450,Kean Nguyen,Corporate,Redondo Beach,90278.0,West,FUR-BO-10001337,Furniture,Bookcases,O'Sullivan Living Dimensions 2-Shelf Bookcases,308.4990,3,0.15,-18.1470
25,CA-2017-156251,TS-21160,Theresa Swint,Corporate,West Allis,53214.0,Central,FUR-BO-10001337,Furniture,Bookcases,O'Sullivan Living Dimensions 2-Shelf Bookcases,241.9600,2,0.00,24.1960

In [25]:
df.iloc[50:60]

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
50,CA-2018-159793,SV-20365,Seth Vernon,Consumer,Philadelphia,19140.0,East,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,130.9800,2,0.50,-89.0664
51,CA-2018-110198,AG-10900,Arthur Gainer,Consumer,Coral Springs,33065.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,314.3520,3,0.20,-15.7176
52,CA-2017-102981,MO-17500,Mary O'Rourke,Consumer,New York City,10035.0,East,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",722.3520,3,0.20,90.2940
53,US-2018-132059,AP-10915,Arthur Prichep,Consumer,Fort Collins,80525.0,West,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",180.5880,2,0.70,-240.7840
54,CA-2017-147137,AA-10645,Anna Andreadi,Consumer,San Francisco,94109.0,West,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",1279.1650,5,0.15,225.7350
55,CA-2018-115105,BD-11770,Bryan Davis,Consumer,New York City,10024.0,East,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",240.7840,1,0.20,30.0980
56,CA-2016-133585,CM-12715,Craig Molinari,Corporate,Houston,77070.0,Central,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",1227.9984,6,0.32,-36.1176
57,CA-2018-142461,KT-16480,Kean Thornton,Consumer,Dallas,75217.0,Central,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",204.6664,1,0.32,-6.0196
58,CA-2016-130183,PO-18850,Patrick O'Brill,Consumer,Houston,77041.0,Central,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",613.9992,3,0.32,-18.0588
59,CA-2018-144491,CJ-12010,Caroline Jumper,Consumer,Houston,77070.0,Central,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",1023.3320,5,0.32,-30.0980

In [26]:
df.iloc[100:121,4:7]

                 City  Postal Code   Region
100  Colorado Springs      80906.0     West
101         Watertown      13601.0     East
102      Apple Valley      92307.0     West
103     New York City      10024.0     East
104     San Francisco      94110.0     West
105          Amarillo      79109.0  Central
106           Holyoke       1040.0     East
107    Pembroke Pines      33024.0    South
108          Franklin       2038.0     East
109      Philadelphia      19120.0     East
110      Murfreesboro      37130.0    South
111           Seattle      98105.0     West
112         San Diego      92037.0     West
113           Kenosha      53142.0  Central
114           Seattle      98103.0     West
115           Everett       2149.0     East
116           Chicago      60623.0  Central
117     New York City      10024.0     East
118     San Francisco      94110.0     West
119     San Francisco      94109.0     West
120     New York City      10011.0     East

Con la instrucción loc:


*   En una nuev df Asigna el ID de la orden como dato indice.
*   Realiza la busqueda de la orden "CA-2015-154599"
*   Obtnen los registros con Sales mayor a 5000. ¿cuantos son?

In [28]:
# loc

In [29]:
df.loc[df['Customer ID'] == "CA-2015-154599"3]

SyntaxError: ignored

In [30]:
dfsal = df.loc[df['Sales'] > 5000]
dfsal['Sales'].count()
#Hay 19 ventas arriba de $5000

19

## Estadisticas básicas con pandas
https://datatofish.com/use-pandas-to-calculate-stats-from-an-imported-csv-file/

df.describe()
Mean, sum, Maximum, Minimum, Count, Median, Standard deviation, Variance.

Obrten las estadisticas de los datos.


_________

In [ ]:
# Estadisticas basicas
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9983.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55245.233297    229.858001     3.789574     0.156203    28.656896
std    32038.715955    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    57103.000000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [31]:
print(max(df))
print(min(df))

Sub-Category
Category

**### Estadisticas con una condición**

Obten el promedio de utilidad de la región Central

Ejemplo de salida:

***Promedio de utilidad de ordenes de la región central : 23.45***

In [32]:
# utiliza la intrucción loc para filtrar
print(df['Region']. value_counts())
sum(df.loc[df['Region']=='Central',:])

West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64

TypeError: ignored

Obten la suma de ventas de la categoría "Technology"

# **Group By**
>La instrucción **groupby** realiza agrupamientos por uno o más datos, de tal forma que podremos realizar cálculos de datos por esos mismos grupos.

**TOP TEN x Ventas**

Obten las ventas (cantidad , ventas , descuento) por ciudad ordenado de manera descendente en cuanto a las ventas.

In [33]:
#Primer paso usar groupby y generar un df
#Ordenar el daraframe de manera descendente y mostrar los primeros 10
dfventas = df[['Sales','Quantity','Discount']]
ventas= dfventas.groupby(['Sales'])

**Generar otras dos vistas que sean de utilidad (con el groupby)**
Analizar otras dos vistas que consideran puden ser utiles para conocer más sobre los datos.

# **EXPORTACIÓN**

Exportar los df a archivos de EXCEL.

In [ ]:
# Exportar un df a un archivo de EXCEL.



---


# **SEGUNDA PARTE**

## ¿y las Gráficas?

Veamos la libreria **matplotlib**

In [ ]:
import matplotlib.pyplot as plt  # solo importamos del módulo  pyplot

### NORMALIZAR
Para poder comparar las ventas con los descuentos y ver si tienen una correlación debemos de ponerlos en una misma escala, para esto utilizremos la libreria **sklearn**

In [ ]:

from sklearn import preprocessing
import seaborn as sns